body
{
    background: url(back.jpg);
  background-position: center;
}
#start-btn
{
    width: 40%;
} 
#camera
{
    width:400px;
    height: 350px;
    border:1px solid grey;
}
#logo_img
{
    width: 100px;
}
#textbox
{
    width: 200px;
}
